# Ignore local Obsidian UI settings and plugins
.obsidian/workspace.json
.obsidian/plugins/
.obsidian/snippets/

# System files
.DS_Store
Thumbs.db

.obsidian/*
!.obsidian/templates/
!.obsidian/snippets/
!.obsidian/workspace.json

.obsidian/workspace.json
